.index {
  background: linear-gradient(50deg, #e8acc1 10%, #7f6ecb);
  height: 100vh;

  .header-content {
    height: 100%;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 39px;
    color: #ffffff;
  }
}
