.order-list {
  padding: 0 20px;
  width: 100%;
  .order-list-item {
    padding: 0 24px;

    border-radius: 16rpx;
    margin-top: 24px;
    background-color: #ffff;
    .order-top-title {
      height: 80px;
      font-size: 26px;
      font-weight: 500;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .order-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .order-list-left {
        flex: 1;
        .order-title {
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 0px;
          color: #333333;
          margin-bottom: 6px;
        }
        .order-notes {
          font-size: 24px;
          letter-spacing: 0px;
          font-weight: 500;
          color: rgba(102, 102, 102, 1);
        }
      }
      .order-list-right {
        width: 190px;
        height: 60px;
      }
    }

    .order-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .order-time {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0px;
        color: rgba(102, 102, 102, 1);
      }
      .order-price {
        font-size: 32px;
        font-weight: 700;

        color: rgb(110, 119, 246) !important ;
      }
    }
    .order-operate {
      height: 108px;
      margin-top: 28px;
      border-top: 1px solid #eeeeee;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .at-button--secondary {
      margin-left: 20px !important;
    }
    .at-button {
      width: 164px;
      height: 60px;
      font-size: 28px;
      font-weight: 500;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}
